<form class="question-form row" id="question-form-<%= domID %>">
	<div class="col-xs-11">
		<%  if (type == 'description') { %>
			<div class="description-question-wrap hide-toggle">
				<span class="standard-black short-text right5 display-inline-block"><%= options.ask_html %></span>
				<span class="right5">
					[<a href="#" class="<%= _options.links_default_class %> edit-question">Edit</a>]
				</span>
				<a href="#" class="<%= _options.links_default_class %> remove-question">remove</a>
			</div>
		<% } else { %>
			<% if (_options.add_type == 'new_fields') { %>
				<a href="#" class="<%= _options.links_default_class %> edit-question hide-toggle">
			<% } %>
				<%= ask %>
			<% if (_options.add_type == 'new_fields') { %>
				</a>
			<% } %>
			<span class="<%= _options.text_default_class %> hide-toggle">
				(<%= type_title %><% if (_options.add_type == 'new_fields' && type == 'open') { %>, Limit: <%= options.limit %><% } %><% if (_options.add_type == 'new_fields' && type == 'video') { %>, Time limit: <%= _options.video_limit_options[options.limit] %><% } %><% if (type != 'uploadbutton') { %>, <%= (options.required == true || options.required == "true") ? 'Required' : 'Non-required' %><% }%>)
			</span>
			<a href="#" class="<%= _options.links_default_class %> remove-question hide-toggle">remove</a>
		<% } %>
	</div>
	<div class="col-xs-1">
		<div class="goRight hide-toggle drag-icon">
			<i class="grey icon-block-view"></i>
		</div>
	</div>
	<div class="clearfix"></div>