<div class="row">
    <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4 ">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Add new field
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <% _.each(items(), function(item) { %>
                    <% if (item.type == 'dropdown') { %>
                        <li class="dropdown-submenu">
                            <a class="item" tabindex="-1" href="#"><%= item.label %> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <% _.each(item.childs, function(child) { %>
                                    <li><a tabindex="-1" href="#" data-value="<%= child.key %>" class="add-new-field-select"><%= child.label %></a></li>
                                <% }); %>
                            </ul>
                        </li>
                    <% } else { %>
                        <li><a tabindex="-1" href="#" data-value="<%= item.key %>" class="add-new-field-select"><%= item.label %></a></li>
                    <% } %>
                <% }); %>
            </ul>
        </div>
    </div>
</div>